$violet-color: #8971d0;
$green-color: #95e8d7;
$grey-color: rgba(0, 0, 0, 0.5);
$red-color: #f5c6cb;
$red-color: #721c24;


$darker-green-color: darken($green-color,10%);
$dark-violet-color: darken($violet-color,10%);
$darker-grey-color: rgba(0, 0, 0, 0.7);
$dark-pink-color: #f5c6cb;

$light-grey-color: rgba(0,0,0,0.1);
$light-green-color: lighten($green-color,10%);
$light-violet-color: lighten($violet-color,15%);
$light-pink-color: #f8d7da;