<%- include('partials/header'); -%>


<div class="main">

    <div class="chat">
        <div class="chat-header">
            <div class="chat-users">
                Zoidberg Fray Lila Fray Lila 
            </div>
            <div class="minimize-chat-icon">
                <span>_</span>
            </div>
        </div>
           
        
        <div class="chat-messages">
            <a class="chat-messages__name" href="#">Zoidberg</a>  <span class="chat-messages__time"> - 18.51 </span>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>

            <a class="chat-messages__name" href="#">Lila</a> <span class="chat-messages__time"> - 18.51 </span>
            <p>Lorem ipsum dolor</p>

            <a class="chat-messages__name" href="#">Fray </a><span class="chat-messages__time"> - 18.51 </span>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>

            <a class="chat-messages__name" href="#">Zoidberg</a> <span class="chat-messages__time"> - 18.51 </span>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur nihil officia ipsam, accusamus et ipsum modi enim quisquam eum laboriosam!</p>

            <a class="chat-messages__name" href="#">Lila</a> <span class="chat-messages__time"> - 18.51 </span> 
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur nihil officia ipsam, accusamus et ipsum modi enim quisquam eum laboriosam!</p>

        </div>
        
        <div class="input-group">
            <input type="text" class="form-control">
            <button class="btn btn-green">
                <i class="fas fa-angle-double-right"></i>
            </button>
        </div>
     

        
    </div>

</div>

<script src="js/chat.js"></script>
<%- include('partials/footer'); -%>
