<%- include('partials/header'); -%>


<div class="row gameset">
    <div class="col-md-9 playmat-col">
        <div class="playmat text-center ">
            
        </div>
    </div>
    <div class="col-md-3">
        <div class="card p-2 mb-3 shadow-sm">
            <h6 class="text-center">Чат</h6>
            <div class="chat-area mb-3">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur nihil officia ipsam, accusamus et ipsum modi enim quisquam eum laboriosam!</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur nihil officia ipsam, accusamus et ipsum modi enim quisquam eum laboriosam!</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur nihil officia ipsam, accusamus et ipsum modi enim quisquam eum laboriosam!</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur nihil officia ipsam, accusamus et ipsum modi enim quisquam eum laboriosam!</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur nihil officia ipsam, accusamus et ipsum modi enim quisquam eum laboriosam!</p>

            </div>
            
            <div class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-primary"><i class="fas fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>

        <div class="card p-2 shadow-sm text-center">
            <h6 class="text-center">Присутствуют:</h6>
            <span class="text-muted">Zoidberg, Fray, Lila</span>
            
           
        </div>
        
    </div>

</div>


<%- include('partials/footer'); -%>
