<%- include('partials/header', {pageCss:'main.css'}); -%>



  <div class="main">
    

              <div class="card game-intro">
                    <h1>Морской бой</h1>
                                        
                    <img src="img/ships.png" >                     
                                         
                    <div>
                        <!-- <a href="/durak?roomName=room1" class="btn btn-lg btn-violet">Играть</a>  -->
                        <a href="/rooms" class="btn btn-lg btn-violet">Играть</a>
                    </div>  
              </div>

              <div class="card game-intro">
                <h1>Дурак</h1>
                <h6>Подкидной.</h6>                                       
                <img src="img/joker.jpeg " >                     
                                     
                <div>
                    <a href="#" class="btn btn-lg btn-violet"> Пока не работает</a> 
                </div>  
          </div>

              
       
      
      
    
      
  </div>



<%- include('partials/footer'); -%>