<%- include('partials/header', {pageCss:'main.css'}); -%>



  <div class="main">
    

              <div class="card game-intro">
                    <h1>Дурак</h1>
                    <h6>Подкидной.</h6>                                         
                    <img src="img/joker.jpeg " >                     
                                         
                    <div>
                        <a href="/durak" class="btn btn-lg btn-violet">Играть</a> 
                    </div>  
              </div>

              <div class="card game-intro">
                <h1>Дурак</h1>
                <h6>Подкидной.</h6>                                         
                <img src="img/joker.jpeg " >                     
                                     
                <div>
                    <a href="/durak" class="btn btn-lg btn-violet">Играть</a> 
                </div>  
          </div>

              
       
      
      
    
      
  </div>


<%- include('partials/footer'); -%>