.game-intro {
  min-height: 200px; }

.chat {
  border-left: 1px #eee solid;
  height: 100%; }

#main {
  height: 100%;
  min-height: 100%; }

.gameset {
  height: 100%; }

.chat-area {
  height: 300px;
  overflow-y: auto;
  font-size: 0.8rem; }

.playmat {
  height: 600px; }

.playmat-col {
  padding-right: 0; }

.input-error {
  color: #dc3545; }
