<!--FOOTER-->
<footer class="bg-primary-outline mt-auto navbar " >
    <div class="container">
        
            <div class="col-md-6 mx-auto text-center">
                
                    Copyright &copy Indicator Games
                
            </div>
        
    </div>
</footer>

