

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7858388e9b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/site.webmanifest">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='/css/shared.css'>
    <% if(typeof pageCss != 'undefined'){ %>
      <link rel="stylesheet" href="/css/<%= pageCss %>">
    <%}%>

    <title><%= header %></title>
    
</head>
<body id='home' data-target='#main-nav'>
    <div class="backdrop"></div>
    <header class="main-header">
      <div class="main-header_brand-holder">
        <a class="mobile-menu__toggle-button">
          <i class="fas fa-bars"></i>
        </a>
        <div class="main-header__brand">
          <a href="/">IndicatorGames</a>
        </div>
        
      </div>

        <nav class="main-nav">
          <ul class="main-nav__items">
            <% if (user) { %>
                      
              <span class="text-muted mr-1">
                Привет, <%= user.username %>
              </span>
              <li class="nav-item">
                <a href="/logout" class="main-nav__item btn btn-green">Выйти</a>
              </li>
            <% } else { %>
              <li class="nav-item">
                <a href="/login" class="main-nav__item btn btn-green">Войти</a>
              </li>
              <li class="nav-item">
                <a href="/signup" class="main-nav__item  btn btn-white">Зарегистрироваться</a>
              </li>
            <% } %> 
          </ul>
        </nav>
        



    </header>
    <nav class="mobile-nav">
      
        <ul class="mobile-nav__items">
          <% if (user) { %>
                    
            <span class="text-muted mr-1">
              Привет, <%= user.username %>
            </span>
            <li class="nav-item">
              <a href="/logout" class="mobile-nav__item ">Выйти</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a href="/login" class="mobile-nav__item ">Войти</a>
            </li>
            <li class="nav-item">
              <a href="/signup" class="mobile-nav__item">Зарегистрироваться</a>
            </li>
          <% } %> 
        </ul>
    </nav>
  