<%- include('../partials/header', {pageCss:'centered-forms.css'}); -%>

<meta name="csrf-token" content="<%= csrfToken %>">

<div class="main">
    
    <div class="card form-card">
        
            <h2>Войти в аккаунт</h2>
            <form>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text"  name="email" required>
                    <div class="email error input-error"></div>
                </div>
                <div class="form-group">
                    <label for="password" >Пароль</label>
                    <input type="password" name="password" required>
                    <div class="password error input-error"></div>
                </div>
                <button class="btn btn-green btn-block mt-3 mb-1">Войти</button> 
                
                <a href="/recover_pass" class="text-muted">Забыли пароль?</a>
            </form>

    </div>
  
</div>


<script>
    const form = document.querySelector('form')
    const emailError = document.querySelector('.email.error')
    const passwordError = document.querySelector('.password.error')
    const token = document.querySelector('meta[name="csrf-token"]').getAttribute('content')
    

    form.addEventListener('submit', async (e) => {
        console.log('form submited')
        e.preventDefault()

        // reset errors
        emailError.textContent = ""
        passwordError.textContent = ""

        // get the values
        const email = form.email.value
        const password = form.password.value
        

        try{
            const res = await fetch('/login', {
                credentials: 'same-origin',
                method: 'POST',
                body: JSON.stringify({email, password}),
                headers: {
                    'Content-Type': 'application/json',
                    'CSRF-Token': token // <-- is the csrf token as a header
                }
            })
            const data = await res.json()
            
            console.log(data)

            if(data.errors) {
                emailError.innerHTML = data.errors.email
                passwordError.textContent = data.errors.password
            }
            if(data.user){
                location.assign('/')
            }
        }
        catch (err) {
            console.log(err) 
        }
    })
</script>

<%- include('../partials/footer'); -%>