<%- include('../partials/header', {pageCss:'centered-forms.css'}); -%>

<div class="main">
               
    <div class="card error-card">
        Токен для восстановления пароля неверный или просрочен. Пожалуйста попробуйте снова.
    </div>
  
</div>


<%- include('../partials/footer'); -%>