<%- include('../partials/header'); -%>

<div id="wrap">
    <div id="main" class="container">
      
    <div class="p-5"></div>
       
        <div class="row">
            <div class="col-md-6 mx-auto">

                
                <div class="alert alert-danger text-center" role="alert">
                    Токен для восстановления пароля неверный или просрочен. Пожалуйста попробуйте снова.
                </div>
            </div>         
        </div>
    </div>
</div>


<%- include('../partials/footer'); -%>