<%- include('../partials/header', {pageCss:'centered-forms.css'}); -%>

<meta name="csrf-token" content="<%= csrfToken %>">



<div class="main">

                <div class="card form-card">
                                    
                    <h2>Восстановление пароля</h2>
                    <form class="form_body">
                        <div class="form-group ">
                            <label for="email">Введите ваш Email для восстановления пароля</label>
                            <input type="text" name="email" required >
                            <div class="email error input-error"></div>
                        </div>
                        
                        
                        <button class="btn btn-green btn-block mt-3 mb-1">Отправить письмо для восстановления</button> 
                        
                    </form>

                </div>
  
</div>

<script>
    const form = document.querySelector('form')
    const emailError = document.querySelector('.email.error')
    const token = document.querySelector('meta[name="csrf-token"]').getAttribute('content')
    const formBody = document.querySelector('.form_body')

    form.addEventListener('submit', async (e) => {
        e.preventDefault()

        // reset errors
        emailError.textContent = ""

        // get the values
        const email = form.email.value  

        try{
            const res = await fetch('/recover_pass', {
                credentials: 'same-origin',
                method: 'POST',
                body: JSON.stringify({email}),
                headers: {
                    'Content-Type': 'application/json',
                    'CSRF-Token': token // <-- is the csrf token as a header
                }
            })
            const data = await res.json()
            
            if(data.errors) {
                emailError.textContent = data.errors.email
            }
            if(data.user){
                console.log(data.user)
                //formBody.innerHTML = '<p class="success_message">We sent you an email to reset your password.</p>'
                formBody.innerHTML = '<p class="text-warning">Мы отправили вам письмо для восстановления пароля.</p>'
            }
        }
        catch (err) {
            console.log(err) 
        }
    })
</script>

<%- include('../partials/footer'); -%>